.tran {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  // overflow-x: hidden;
  background-color: #06070a;
  font-size: 15px;
  margin: 0;
}

.container {
  border-top: none !important;
  // width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  position: relative;
  &-reverse {
    flex-direction: row-reverse;
  }
  @include mw-768 {
    // width: 100%;
    flex-direction: column;
    padding: 8px;
  }
}
.desktop {
  display: block;
  @include mw-768 {
    display: none !important;
  }
}
.mobile {
  display: none !important;
  @include mw-768 {
    display: block !important;
  }
}
.pd-100 {
  padding-top: 110px;
}

