.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  @extend .tran;
  &-search {
    background-color: #2d303f;
    width: 36px;
    height: 36px;
    border-radius: 50px;
  }
  &-login {
    padding: 8px 14px;
    background-color: #2248c9;
    border-radius: 50px;
    &:hover {
      color: #f6e14d;
    }
  }
  &-signing {
    padding: 8px 14px;
    border-radius: 50px;
    &:hover {
      color: #f6e14d;
    }
  }
  &-bet {
    background-color: #f6e14d;
    padding: 8px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #14151c;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 0;
    text-align: center;
    @include mw-768 {
      font-size: 10px;
      padding: 2px 8px;
    }
    &:hover {
      color: #14151c;
    }
  }
  &-view {
    background-color: #f6e14d;
    // padding: 8px 30px;
    border-radius: 4px;
    color: #14151c;
    height: 35px;
    line-height: 24px;
    white-space: nowrap;
    @include mw-768 {
      font-size: 12px;
      padding: 2px 16px;
      line-height: 14px;
      height: 24px;
    }
    &:hover {
      color: #14151c;
    }
  }
  &-share {
    padding: 2px 14px;
    background-color: #2248c9;
    border-radius: 50px;
    height: 35px;
  }
  &-chat {
    background-color: #2d303f;
    border-radius: 6px;
    padding: 2px 14px;
    .icon-chat {
      width: 30px;
      height: 30px;
      display: inline-block;
      // margin-left: auto;
      background-image: url(/img/openchat.svg);
      background-repeat: no-repeat;
    }
    .close {
      display: none;
    }
  }
  &-send {
    background-color: #f6e14d;
    padding: 8px 30px;
    border-radius: 50px;
    color: #14151c;
    font-size: 12px;
  }
  &-more {
    background-color: #2d303f;
    border-radius: 6px;
    padding: 8px 14px;
    .icon-more {
      width: 16px;
      height: 16px;
      display: inline-block;
      background-image: url(/img/double-right.svg);
      background-repeat: no-repeat;
      margin-right: 10px;
    }
    .close {
      display: none;
    }
  }
  &-play {
    padding: 8px 14px;
    background-color: #2248c9;
    border-radius: 4px;
    font-size: 14px;
    width: 125px;
    @include mw-768 {
      width: auto;
      padding: 4px 8px;
    }
    img {
      margin-right: 10px;
      @include mw-768 {
        margin-right: 0;
        width: 14px;
        height: 14px;
      }
    }
  }
  &-detail {
    padding: 8px 12px;
    background: rgba(34, 72, 201, 0.25);
    border-radius: 4px;
    color: #f6e14d;
    width: 125px;
    font-size: 14px;
    @include mw-768 {
      padding: 4px 8px;
      width: auto;
    }
    img {
      margin-left: 10px;
      @include mw-768 {
        margin-left: 0;
      }
    }
  }
}
.active {
  .open {
    display: none;
  }
  .close {
    display: block;
  }
  .icon-chat,
  .icon-more {
    transform: rotate(180deg);
  }
}
.gr-btn {
  .btn + .btn {
    margin-left: 10px;
  }
}
.left-content {
  width: 273px;
  padding-top: 20px;
  @include mw-768 {
    // display: none;
    width: 100%;
    margin-top: 16px;
    padding: 0;
  }
  .scrollbar {
    height: 244px;
  }
}
.banner {
  margin: 8px 0;
  img {
    width: 100%;
  }
}
.right-content {
  width: 917px;
  // padding-left: 24px;
  // overflow: hidden;
  @include mw-768 {
    // display: none;
    width: 100%;
    padding-left: 0;
    padding: 0;
  }
}

a {
  color: #fff;
  text-decoration: none;
  @extend .tran;
  &:hover {
    color: #f6e14d;
  }
}
strong {
  color: #f6e14d;
}
.left {
  &--news {
    background-color: #14151c;
    border-radius: 8px 8px 0px 0px;
  }
  &__title {
    color: #fff;
    background-color: #2d303f;
    padding: 14px;
    border-bottom: solid 2px #2248c9;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px 8px 0px 0px;
    margin-top: 0;
  }
  &--list {
    .slick-arrow {
      display: none !important;
    }
  }
  &--item {
    max-width: 235px;
    margin: 8px;
    h5 {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  &__img {
    height: 132px;
    width: 235px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.tag {
  padding: 8px 0;
  span {
    display: inline-block;
  }
  .bg {
    background-color: #f6e14d;
    padding: 3px 10px;
    color: #16171b;
    border-radius: 50px;
    text-transform: uppercase;
  }
  .color {
    text-transform: uppercase;
    color: #f6e14d;
  }
}
.time {
  color: #bdbdbd;
}
.news {
  padding: 8px;
  &-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    display: block;
    h5 {
      margin: 0;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
  &-right {
    padding-left: 12px;
  }
}
.news-img {
  padding: 8px;
  .news-item {
    border: none;
    display: flex;
    img {
      width: 90px;
      height: 60px;
    }
  }
}
.scrollbar {
  overflow: auto;
  scrollbar-gutter: none;
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
    @extend .tran;
  }
  &::-webkit-scrollbar:horizontal {
    display: none;
  }
}
.hero {
  margin: 20px 0;
  margin-left: 20px;
  // overflow: hidden;
  // width: 100%;
  // max-width: 893px;
  @include mw-768 {
    margin-left: 0;
  }
  &--list {
    .slick-arrow {
      z-index: 100;
    }

    .slick-dots {
      bottom: 20px;
    }
  }
  .slick-slide {
    // width: 100%;
  }
  &-item {
    overflow: hidden;
    border-radius: 8px;
    img {
      width: 100%;
      object-fit: cover;
      @include mw-768 {
        height: 240px;
        // width: 100%;
      }
    }
  }
}
.content-bg {
  background-color: #14151c;
  border-radius: 8px;
  margin-left: 20px;
  @include mw-768 {
    background-color: transparent;
    margin-left: 0;
  }
  .tabs {
    border-bottom: solid 1px #2d303f;
    display: flex;
    padding: 0 24px;
    @include mw-768 {
      padding: 0;
      padding-bottom: 10px;
    }
    white-space: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #fff;
      @extend .tran;
    }
    .tab-item {
      display: block;
      padding: 16px 0;
      margin: 0 10px;
      text-transform: uppercase;
      @include mw-768 {
        font-size: 14px;
      }
    }
    .active {
      color: #f6e14d;
      border-bottom: solid 2px #f6e14d;
      font-weight: 700;
    }
  }
}
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin !important;
}

.scroll::-webkit-scrollbar-track-piece {
  background: rgba(229, 229, 229, 0);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(229, 229, 229, 0.5);
  border-radius: 5px;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  height: 0;
  border-radius: 5px;
}
.content-video {
  padding: 8px;
  position: relative;
  @include mw-768 {
    padding: 0;
  }
  .video {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    img {
      width: 100%;
      // background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 34.14%);
      // filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
      // border-radius: 14px;
    }
    .chat {
      // position: absolute;
      // z-index: 1000;
      // right: -275px;
      // bottom: 0;
      // height: 100%;
      width: 220px;
      margin-left: 15px;
      // flex: 1;
      background: rgba(22, 23, 27, 0.85);
      /* blue */
      border: 1px solid #2248c9;
      border-radius: 0px 14px 14px 0px;
      overflow: hidden;
      @include mw-768 {
        position: initial;
        width: 100%;
        border-radius: 14px;
        margin-left: 0;
        margin-top: 10px;
      }
      &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        .title {
          display: flex;
          background-color: #f6e14d;
          justify-content: space-between;
          align-items: center;
          padding: 8px 14px;
          padding-right: 0;
          color: #16171b;
          // cursor: move;
          img {
            width: 30px;
            height: 30px;
            transform: rotate(180deg);
          }
        }
        .comment {
          height: 320px;
          padding: 14px;
          flex-grow: 1;
          position: relative;
          &-item {
            position: relative;
            padding-right: 80px;
            display: flex;
            margin-bottom: 14px;
            align-items: center;
            font-size: 13px;
            .img {
              width: 25px;
              height: 25px;
              display: inline-block;
              box-sizing: border-box;
              margin: 0px;
              padding: 0px;
              position: relative;
              overflow: hidden;
              white-space: nowrap;
              text-align: center;
              vertical-align: middle;
              line-height: 32px;
              border-radius: 50%;
              margin-right: 10px;
              flex: 0 0 25px;
              background: rgba(0, 0, 0, 0.4);
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .name {
              margin-right: 5px;
            }
          }
        }
        .input-chat {
          padding: 8px 16px;
          height: 90px;
          background-color: transparent;
          flex: 0 0 auto;
          .input {
            position: relative;
            background-color: #2d303f;
            border-radius: 50px;
            display: flex;
            padding-right: 50px;
            input {
              background-color: transparent;
              box-shadow: none;
              border: none;
              padding: 12px 20px;
              padding-right: 0;
              width: 100%;
              color: #fff;
              &:focus {
                box-shadow: none;
                border: none;
                outline: none;
              }
            }
            .btn {
              position: absolute;
              right: 10px;
              top: 10px;
            }
          }
          .d-flex {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            span {
              color: rgba(255, 252, 254, 0.65);
              font-size: 12px;
            }
          }
        }
      }
    }
    .btn-chat {
      position: absolute;
      right: 0;
      bottom: -45px;
    }
  }
  .match {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    gap: 85px;
    flex: none;
    order: 1;
    flex-grow: 0;
    @include mw-768 {
      padding: 10px 0;
      gap: 15px;
      justify-content: space-around;
      margin-top: 30px;
    }
    .d-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      justify-content: center;
      flex: 1;
      margin-top: 10px;
      &:first-child {
        min-width: 100px;
      }
      &:nth-child(3) {
        min-width: 100px;
      }
      p {
        margin: 0;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        @include mw-768 {
          font-size: 14px;
        }
      }
      .date {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        @include mw-768 {
          font-size: 14px;
        }
      }
      .vs {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 500;
        font-size: 38px;
        background: linear-gradient(180deg, #f6e14d 23.39%, rgba(209, 215, 223, 0) 80.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        line-height: 130%;
        @include mw-768 {
          font-size: 22px;
        }
      }
      img {
        border: 1px solid #ffffff;
        border-radius: 100px;
        width: 45px;
        height: 45px;
        margin-bottom: 15px;
        @include mw-768 {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  .detail {
    .title {
      display: flex;
      justify-content: space-between;
      h2 {
        flex: 1;
        margin: 10px 0;
      }
      @include mw-768 {
        flex-direction: column-reverse;
        .btn {
          width: fit-content;
          float: right;
        }
      }
    }
    .des {
      height: 40px;
      overflow: hidden;
      @extend .tran;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(20, 21, 28, 0) 0%, #14151c 100%);
      }
    }
    .des-active {
      height: auto;
      @extend .tran;
    }
    .show {
      width: 100%;
      display: flex;
      justify-content: center;
      border-bottom: solid 1px #2d303f;
      margin-bottom: 30px;
      .btn {
        margin-bottom: -14px;
      }
    }
  }
}
.all-match {
  padding: 8px;
  @include mw-768 {
    padding: 0;
  }
  .match-tabs {
    display: flex;
    justify-content: space-between;
    background-color: #2d303f;
    padding: 0px 16px;
    border-radius: 4px;
    align-items: center;
    position: relative;
    @include mw-768 {
      margin-bottom: 50px;
    }
    .d-flex {
      display: flex;
      align-items: baseline;
      flex: 1;
      align-items: flex-end;
      height: 100%;

      white-space: nowrap;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: #fff;
        @extend .tran;
      }
    }
    a {
      display: block;
      padding: 8px 0;
      margin: 0 10px;
      height: 100%;
    }
    .active {
      color: #f6e14d;
      border-bottom: solid 2px #f6e14d;
      font-weight: 700;
    }
    .sort {
      position: relative;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 5px;
      margin: 6px 0;
      overflow: hidden;
      @include mw-768 {
        position: absolute;
        right: 0;
        bottom: -45px;
      }
      select {
        padding: 8px 14px;
        padding-right: 40px;
        /*for firefox*/
        -moz-appearance: none;
        /*for chrome*/
        -webkit-appearance: none;
        appearance: none;
        background-color: #3d404e;
        color: #fff;
        border: none;
        &:focus,
        &:active {
          border: none;
          box-shadow: none;
        }
      }
      /*for IE10+*/
      select::-ms-expand {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        right: 10px;
        top: 14px;
        background: url(/img/down.svg) no-repeat;
        width: 12px;
        height: 6px;
      }
    }
  }
}
.match-list {
  margin-top: 20px;
  .row {
    // width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    order: 2;
    margin-bottom: 16px;
  }
  .row-banner {
    display: flex;
    flex-direction: row;
    gap: 16px;
    order: 2;
    margin-bottom: 16px;
    @include mw-768 {
      order: 1;
      gap: 0;
      flex-wrap: wrap;
    }
  }
  .match-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 50%;
    order: 1;
    border: 1px solid;
    border-color: transparent;
    @include mw-768 {
      flex-direction: column;
      text-align: center;
      padding: 16px 8px;
      gap: 8px;
    }
    &:hover {
      @extend .tran;
      background: rgba(246, 225, 77, 0.1);
      border-color: #f6e14d;
    }
    .d-flex {
      display: flex;
      flex-direction: column;
      // align-items: center;
      padding: 0px;
      gap: 12px;
      min-width: 130px;
      &:nth-child(2) {
        @include mw-768 {
          flex: 1;
        }
      }
      .name {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        img {
          width: 24px;
          height: 24px;
          border: 1px solid #ffffff;
          border-radius: 100px;
        }
        p {
          margin: 8px 10px;
          white-space: nowrap;
        }

        .number {
          font-style: italic;
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
        }
      }
      .vs {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        background: linear-gradient(180deg, #f6e14d 23.39%, rgba(209, 215, 223, 0) 80.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        line-height: 130%;
      }
      .type {
        color: #99adcd;
        margin: 0;
        @include mw-768 {
          font-size: 10px;
        }
      }
      h3 {
        font-size: 15px;
        // white-space: nowrap;
        margin: 0;
        @include mw-768 {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          justify-content: center;
          flex: 1;
        }
      }
      .date {
        @include mw-768 {
          font-size: 12px;
        }
      }
    }
    .mobile {
      @include mw-768 {
        display: flex !important;
      }
    }
  }
}
.live {
  height: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  background: #ff0000;
  border-radius: 4px;
  font-size: 10px;
  @include mw-768 {
    height: 18px;
  }
}
.coming {
  height: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  background: #2248c9;
  border-radius: 4px;
  font-size: 10px;
  @include mw-768 {
    height: 18px;
  }
}
.live-tabs {
  display: flex;
  justify-content: center;
  background-color: #2d303f;
  padding: 0px 16px;
  border-radius: 4px;
  align-items: center;
  position: relative;
  margin: 24px 16px;
  @include mw-768 {
    margin: 8px 0 0;
  }
  .d-flex {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #fff;
      @extend .tran;
    }
  }

  a {
    display: block;
    padding: 8px 8px;
    margin: 0 10px;
    height: 100%;
  }
  .active {
    color: #f6e14d;
    border-bottom: solid 2px #f6e14d;
    font-weight: 700;
    background: rgba(246, 225, 77, 0.1);
  }
}
.live-tag {
  padding: 0 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  @include mw-768 {
    padding: 0;
    display: none;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 10px;
    gap: 10px;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 4px;
    color: #99adcd;
    &:hover {
      color: #f6e14d;
      background: rgba(255, 255, 255, 0.3);
    }
  }
  .active {
    background: #2248c9;
    color: #fff;
    &:hover {
      color: #f6e14d;
      background: #2248c9;
    }
  }
}
.live-sort {
  display: none;

  @include mw-768 {
    display: flex;
    justify-content: flex-end;
    // float: right;
  }
  .sort {
    position: relative;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    margin: 6px 0;
    select {
      padding: 8px 14px;
      padding-right: 40px;
      /*for firefox*/
      -moz-appearance: none;
      /*for chrome*/
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      color: #fff;
      border: none;
      &:focus,
      &:active {
        border: none;
        box-shadow: none;
      }
    }
    /*for IE10+*/
    select::-ms-expand {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      right: 10px;
      top: 14px;
      background: url(/img/down.svg) no-repeat;
      width: 12px;
      height: 6px;
    }
  }
}
.live-search {
  display: flex;
  justify-content: center;
  padding: 8px;
  .search {
    width: 100%;
    max-width: 500px;
  }
  @include mw-768 {
    padding: 0;
    margin-bottom: 8px;
  }
}
.search {
  background-color: #2d303f;
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  img {
  }
  input {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 12px 20px;
    padding-left: 10px;
    color: #fff;
    flex: 1;
    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
}
.live-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  padding-bottom: 0;
  @include mw-768 {
    padding: 10px;
  }
}
.live-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 4px;
  order: 1;
  @include mw-768 {
    padding: 0;
  }
  .item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
    border-color: transparent;
    &:hover {
      @extend .tran;
      background: rgba(246, 225, 77, 0.1);
      border-color: #f6e14d;
    }

    .date {
      padding: 10px 13px;
      display: flex;
      align-items: center;
      // white-space: nowrap;
      width: 75px;

      @include mw-768 {
        flex-direction: column;
        // white-space: pre-wrap;
        font-size: 10px;
        padding: 8px;
        width: 36px;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .icon-live {
        margin-right: 5px;
        @include mw-768 {
          margin-right: 0;
        }
        img {
          width: 11px;
          height: 11px;
        }
      }
    }
    .name {
      padding: 10px 13px;
      display: flex;
      align-items: center;
      flex: 1;
      padding-right: 0;
      min-width: 94px;
      font-size: 14px;
      .logo {
        width: 35px;
        height: 35px;
        @include mw-768 {
          width: 25px;
          height: 25px;
        }
      }

      .d-flex {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        @include mw-768 {
          margin: 0 5px;
        }
        .cards {
          .card {
            width: 10px;
            height: 12px;
          }
        }
      }
      &-left {
        text-align: right;
        padding-right: 13px;
        padding-left: 0;
        justify-content: flex-end;
        .d-flex {
          justify-content: flex-end;
          margin-right: 10px;
          margin-left: 0;
          align-items: flex-end;
        }
      }

      @include mw-768 {
        font-size: 10px;
        padding: 8px;
        min-width: 80px;
      }
    }
    .center-name {
      padding: 10px 13px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      min-width: 45px;
      justify-content: center;
      span {
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        text-align: center;
        color: #27ae60;
      }
      .score {
        color: #f6e14d;
        text-align: center;
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        @include mw-768 {
          font-size: 14px;
        }
      }
      .vs {
        text-transform: uppercase;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        background: linear-gradient(180deg, #f6e14d 23.39%, rgba(209, 215, 223, 0) 80.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        line-height: 130%;
      }
      @include mw-768 {
        font-size: 10px;
        padding: 8px;
      }
    }

    .view {
      padding: 10px 13px;
      display: flex;
      align-items: center;
      width: 125px;
      @include mw-768 {
        padding: 8px;
        width: 30px;
      }
    }
    .schedule {
      padding: 10px 13px;
      display: flex;
      align-items: center;
      width: 225px;
      @include mw-768 {
        padding: 8px;
        width: 30px;
      }
      .btn {
        width: 105px;
        &:first-child {
          background: #f6e14d;
          color: #16171b;
          margin-right: 10px;
          @include mw-768 {
            display: none;
          }
        }
      }
    }
  }
}
.help {
  padding: 16px;
  @include mw-768 {
    padding: 8px;
  }
}
.live-container {
  display: flex;
  @include mw-768 {
    flex-direction: column;
  }
  .live-left {
    width: calc(100% -273px);
    @include mw-768 {
      width: 100%;
    }
    .view {
      padding: 8px;
      width: 30px;
      .btn {
        width: auto;
        padding: 4px 5px;
        img {
          margin-right: 0;
        }
        span {
          display: none;
        }
      }
    }
  }
  .live-right {
    width: 273px;
    @include mw-768 {
      width: 100%;
      margin-top: 16px;
    }
    .rate {
      overflow: hidden;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px 8px 0px 0px;
      .title {
        padding: 15px 0;
        background-color: #f6e14d;
        color: #16171b;
        .d-flex {
          border-left: solid 5px #2248c9;
          justify-content: space-between;
          display: flex;
          padding-right: 10px;
          align-items: center;
          span {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            margin-left: 15px;
          }
          a {
            color: #16171b;
            font-size: 12px;
          }
        }
      }
    }
    .scrollbar {
      height: 300px;
      .rate-table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        order: 1;
        .item {
          // background: hsla(0, 0%, 100%, 0.1);
          display: flex;
          // justify-content: space-between;
          width: 100%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          min-width: 330px;
          &-header {
            background-color: rgba(255, 255, 255, 0.1);
          }
          .cell {
            padding: 12px 0;
            text-align: center;
            width: 40px;
            &:nth-child(2) {
              width: 130px;
              text-align: left;
              // padding: 12px;
              padding-left: 12px;
            }
            .name {
              display: flex;
              align-items: center;
              .logo {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    .red {
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #ff0000;
      padding: 8px;
    }
  }
}
