.footer {
  background-image: url(/img/footer.png);
  padding: 60px 0 36px;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-top: solid 2px #f6e14d;
  margin-top: 50px;
  @include mw-768{
    background-image: url(/img/footer-mb.png);
    padding: 16px;
  }
  .container {
    flex-direction: column;
  }
  p {
    color: rgba(255, 255, 255, 0.85);
  }
  img {
    margin: 0 auto;
  }
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      padding: 20px;
      @include mw-768{
        font-size: 14px;
        padding: 20px 10px;
      }
    }
  }
  .bt {
    p {
      line-height: 130%;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.65);
    }
  }
}
