header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}
.header {
  width: 100%;
  position: relative;
  z-index: 100;
  border-bottom: solid 1px #f6e14d;
  @include mw-840 {
    height: 50px;
  }
  .container--header {
    background: #16171b;
  }
  &_logo {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 273px;
    @include mw-840 {
      height: 50px;
      margin-left: -1rem;
    }
    img {
      max-height: 60px;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .filter-icon {
    background-color: #000;
    padding: 0 15px 15px;
    display: flex;
    justify-content: center;
    width: 50px;
    margin-left: auto;
    margin-right: -15px;
    i {
      color: #fff;
      font-size: 20px;
    }
  }
  .top {
    display: flex;
    flex: 1;
    background-color: #06070a;
    justify-content: flex-end;
    .gr-btn {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }
  }
  .lang {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 45px;
    align-items: center;
    background-color: #06070a;
  }

  .language {
    position: relative;
    background-color: #16171b;
    padding: 6px 16px;
    border-radius: 4px;
    cursor: pointer;
    .icon-down {
      margin-left: 14px;
    }
  }

  .list-lang {
    background: #000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    top: 25px;
    height: 0;
    right: 0;
    cursor: pointer;
    transition: ease-in 0.2s;
    overflow: hidden;
    z-index: 400;
    margin: 0;
    position: absolute;
    list-style: none;
    width: 100%;
    padding: 0;
    li {
      padding: 5px 0;
      width: 100%;
      text-align: center;
    }
  }

  .list-lang.active {
    height: 54px;
    transition: ease-in 0.2s;
  }

  .list-lang.active li:hover {
    background-color: #f6e14d;
  }
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  flex: 1;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  @include mw-840 {
    justify-content: start;
    border-bottom: solid 1px #f6e14d;
    position: relative;
  }
  .gr-btn {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: flex-end;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
    @extend .tran;
  }
  .menu-item {
    padding: 0 16px;
    text-decoration: none;
    position: relative;
    font-size: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    @extend .tran;
    @include mw-768 {
      font-size: 12px;
      padding: 12px;
      height: auto;
    }
    img {
      position: absolute;
      bottom: -9px;
      display: none;
      left: calc(50% - 6px);
    }
    &:hover {
      color: #f6e14d;
      img {
        display: block;
      }
    }
  }
  .active {
    font-weight: 600;
    color: #f6e14d;
    img {
      display: block;
    }
  }
}
.header-desktop {
  @include mw-840 {
    display: none;
  }
}
.filter-mobile {
  display: none;
  @include mw-840 {
    display: block;
  }
}
.header-mobile {
  display: none;
  background-color: #16171b;
  @include mw-840 {
    display: block;
  }
  .menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: solid 2px #f6e14d;

    .logo {
      width: 130px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
  .menu-link {
    // padding: 15px;
    display: block;
    span {
      display: block;
      height: 2px;
      width: 32px;
      background: #fff;
      margin: 5px 0;
      transition: transform 0.1s linear;
    }
    &:hover,
    &:focus {
      .line-1 {
        transform: translateY(-2px);
      }
      .line-3 {
        transform: translateY(2px);
      }
    }
    &.active {
      span {
        transition: transform 0.2s ease-out, opacity 0.1s linear;
        // background-color: ;
      }
      .line-1 {
        transform: translateY(7px) translateX(0) rotate(45deg);
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: translateY(-7px) translateX(0) rotate(-45deg);
      }
    }
  }
  .menu-bottom {
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;

    .list {
      position: relative;
      list-style: none;
      padding: 0 50px;
      margin: 0;
      li {
        margin-top: 0.75rem;
        cursor: pointer;
        text-align: center;
        a {
          color: #fff;
          font-size: 16px;
          padding: 15px 30px;
          margin: 0 30px;
          display: block;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
            opacity: 1;
          }
        }
        &:last-child {
          margin-bottom: 20px;
        }
        .btn {
          margin: 0;
          padding: 8px 14px;
        }
        .btn + .btn {
          margin-left: 10px;
        }
      }
    }

    .search {
      background-color: #2d303f;
      border-radius: 100px;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 20px;
      img {
      }
      input {
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 12px 20px;
        padding-left: 10px;
        &:focus {
          box-shadow: none;
          border: none;
          outline: none;
        }
      }
    }
    .active {
      a {
        border-bottom: solid 1px #f6e14d;
      }
    }
    .menu-item {
      font-weight: 500;
      font-size: 18px;
      font-weight: 300;
    }
    .gr-btn {
      display: flex;
      flex: none;
      order: 2;
      .btn {
        order: 1;
        width: 100%;
      }
      .btn-signing {
        background-color: #2d303f;
      }
    }
    .about {
      display: flex;
      justify-content: center;
      margin: 0;
      margin-top: 50px;
      padding: 0;
      li {
        list-style: none;
        text-transform: uppercase;
        padding: 10px;
      }
    }
    .bt {
      padding: 16px;
      p {
        text-align: center;
        line-height: 130%;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }

  .menu-top {
    p {
      letter-spacing: 0.3em;
      margin: 0;
    }
    .d-flex {
      justify-content: space-between;
      h1 {
        margin: 0;
        font-size: 36px;
        font-weight: bold;
      }
    }
  }
}
.header-mobile-active {
  background: linear-gradient(179.08deg, rgba(22, 23, 27, 0.95) 83.09%, #f6e14d 123.38%);
  backdrop-filter: blur(14px);
  transition-duration: 0.5s;
  .menu-bottom {
    height: calc(100vh -60px);
    max-height: 100vh;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-duration: 0.5s;
    transition-property: max-height;
  }
  .header_right {
    height: 0;
    transition-timing-function: cubic-bezier(0.5, 0.3, 0.685, 0.5);
    padding: 0;
  }
}
