.rate {
  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 4px;
    order: 1;
    @include mw-768 {
      padding: 0;
      overflow: auto;
      white-space: nowrap;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #fff;
      @extend .tran;
    }
  }
  &-header {
    display: flex;
    background: rgba(246, 225, 77, 0.1);
    border-radius: 8px;
    justify-content: space-between;
    margin: 16px;
    @include mw-768 {
      display: none;
    }
    .rate-cell {
      span {
        text-transform: uppercase;
        padding: 16px;
        font-weight: 700;
      }
    }
  }
  &-cell {
    span {
      display: block;
    }
    &:first-child {
      width: 100px;
    }
    &:nth-child(2) {
      width: 180px;
    }
    &:nth-child(3) {
      width: 112px;
    }
    &:nth-child(4) {
      width: 112px;
    }
    &:nth-child(5) {
      width: 112px;
    }
    &:nth-child(6) {
      width: 112px;
    }
    &:nth-child(7) {
      width: 112px;
    }
  }
  &-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
    border-color: transparent;
    min-width: 790px;
    &:hover {
      @extend .tran;
      background: rgba(246, 225, 77, 0.1);
      border-color: #f6e14d;
    }
    .rate-cell {
      .odds-content {
        border-left: 1px solid #414147;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 100%;
        .odds-data {
          display: block;
          height: 18px;
          font-size: 12px;
          padding: 0 15px;
          span {
            display: block;
            float: left;
            width: 50%;
            height: 18px;
            // font-weight: bold;
            font-size: 12px;
            line-height: 18px;
          }
          .left-text {
            float: left;
            text-align: left;
            width: 50%;
          }
          .right-text {
            text-align: right;
            width: 50%;
            float: right;
          }
          .highlight {
            font-weight: bold;
            color: #ff0000;
          }
        }
      }
      .rate-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .score {
          color: #f6e14d;
          text-align: center;
          font-style: italic;
          font-weight: 700;
          font-size: 20px;
        }
        .d-flex {
          display: flex;
          justify-content: center;
          align-items: center;
          .red {
            width: 8px;
            height: 8px;

            background: #ff0000;
            margin-right: 4px;
            border-radius: 10px;
          }
          .green {
            color: #27ae60;
            font-size: 13px;
          }
        }
      }
      .name {
        display: flex;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
        padding: 6px 0;

        .logo {
          width: 22px;
          height: 22px;
          margin-right: 5px;
        }
      }
    }
  }
}
.text-red {
  color: #eb5757;
  text-align: right;
  padding: 8px;
  font-size: 12px;
}
.rating {
  &-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 4px;
    order: 1;
    @include mw-768 {
      padding: 0;
      overflow: auto;
      // white-space: nowrap;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #fff;
      @extend .tran;
    }
  }
  
  &-header {
    display: flex;
    background: rgba(246, 225, 77, 0.1);
    border-radius: 8px;
    justify-content: space-between;
    margin: 16px;
    @include mw-768 {
      display: none;
    }
    .rating-cell {
      span {
        // text-transform: uppercase;
        padding: 16px;
        font-weight: 700;
      }
    }
  }
  &-cell {
    width: 76px;
    span {
      display: block;
      text-align: center;
    }
    &:nth-child(2) {
        border-right: 1px solid #14151c;
        width: 220px;
      span {
        text-align: left;
      }
    }
    
  }
  &-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
    border-color: transparent;
    min-width: 790px;
    &:hover {
      @extend .tran;
      background: rgba(246, 225, 77, 0.1);
      border-color: #f6e14d;
    }
    .rating-cell {
      .name {
        display: flex;
        align-items: center;
        padding: 8px;
        // border-right: 1px solid #414147;
        .logo {
          width: 35px;
          height: 35px;
          margin-right: 10px;
          @include mw-768{
            width: 24px;
            height: 24px;
          }
        }
      }
      .rating-number {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 12px 0;
        height: 100%;
      }
    }
  }

}
.item-header{
  background: rgba(246, 225, 77, 0.1);
  display: none;
  @include mw-768{
    display: flex;
  }
  .rating-cell {
    span {
      padding: 16px;
      font-weight: 700;
    }
  }
}